body {
  background-color: rgb(0, 0, 0);
  color: azure;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;

  width: 350px;
}

p {
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;

  padding: 70px 20px 40px 20px;
}

/* ------------Чекбокс релогина--------------- */

.header_field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 20px;

  background-color: rgb(17, 18, 19);

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.options-wrapper {
  max-width: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.settings-option {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-select-wrapper {
  width: 100%;

  display: inline-block;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
}

.switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  left: 2.3px;
  bottom: 3px;
  background-color: azure;
  box-shadow: 0px 0px 3px #000000;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(229, 197, 31);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 15px rgba(255, 255, 255, 0.2);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------Ошибка пустых полей--------------- */

.empty-fields-error,
.auth-error {
  margin-bottom: 10px;

  text-align: center;
  color: #ff0202;
}

.empty-fields-error.error-hidden,
.auth-error.error-hidden {
  display: none;
}

/* ------------Сообщение пустых аккаунтов--------------- */

.no-accounts-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding-bottom: 45px;

  text-align: center;
}

.no-accounts-message.no-accounts-hidden {
  display: none;
}

.made-by {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  color: #ffffff2c;
  font-size: 11px;
  padding-bottom: 9px;
  font-family: sans-serif;

  text-align: center;

  text-decoration: none;
}

/* ------------Блок инпутов аккаунтов--------------- */

.add-pswd-container {
  margin-bottom: 30px;
}

.inputs-wrapper {
  display: grid;
  gap: 5px;
}

.login-data-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

input {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(51, 58, 222, 0.2), 0px 4px 6px rgba(74, 0, 224, 0.06);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;

  letter-spacing: 0.03em;
  color: #737189;
}

input:focus {
  outline: 1px solid rgba(51, 58, 222, 0.3);
}

/* ------------Кнопка ДОБАВИТЬ--------------- */

.main-btn {
  width: 100%;
  height: 34px;

  border: none;
  background: rgb(229, 197, 31);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;

  cursor: pointer;
}

.main-btn:hover {
  background: rgba(229, 196, 31, 0.877);
}

.main-btn:active {
  background: rgba(229, 196, 31, 0.795);
}

.add-pswd-container.is-hidden,
.logins-container.is-hidden,
.addButton.is-hidden,
.saveButton.is-hidden {
  display: none;
}

/* ------------Кнопки аккаунта--------------- */

.logins-container {
  min-height: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.login-btn {
  position: relative;
  width: 120px;
  min-height: 30px;

  background: rgb(36, 51, 117);

  /* background: rgb(101, 119, 195); */

  font-weight: 600;
  letter-spacing: 0.2px;
  color: azure;
  text-shadow: 0px 0px 2px #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: 12px;

  border-radius: 5px;

  cursor: pointer;

  transition: transform 100ms linear;
}

.login-btn:hover,
.login-btn:focus {
  transform: scale(1.03);
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.3),
    0 0 20px rgba(255, 255, 255, 0.3); */
}

/* ------------Кнопка текущего аккаунта--------------- */

.login-btn.current-login {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.3),
    0 0 15px rgba(255, 255, 255, 0.3);
  /* color: rgb(218, 202, 126); */
  text-shadow: 0px 0px 3px #000000, 0px 0px 6px #ffffff, 0px 0px 8px #000000;
}
.login-btn.current-login:hover,
.login-btn.current-login:focus {
}

/* ------------Кнопка удаления аккаунта--------------- */

.login-delete {
  width: 15px;
  height: 15px;
  padding: 3px;

  position: absolute;
  top: 0;
  right: 0;

  transform: translate(80%, -50%);

  background: transparent;

  color: rgb(122, 111, 111);

  cursor: pointer;
  border-radius: 50%;

  border: none;

  font-size: 20px;
  line-height: 0;
  text-align: center;
}

.login-delete:hover,
.login-delete:focus {
  color: rgb(179, 10, 10);

  text-shadow: 0px 0px 7px #ff0202, 0px 0px 10px #ff0202;
}

.login-change {
  width: 15px;
  height: 15px;
  padding: 3px;

  position: absolute;
  top: 2px;
  left: 4px;

  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);

  background: transparent;

  color: rgb(122, 111, 111);

  cursor: pointer;
  border-radius: 50%;

  border: none;

  font-size: 15px;
  line-height: 0;
  text-align: center;
}

.login-change:hover,
.login-change:focus {
  color: rgb(148, 148, 11);

  text-shadow: 0px 0px 7px rgb(148, 148, 11), 0px 0px 10px rgb(148, 148, 11);
}

.hide-menu-trigger {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  font-size: 10px;
  cursor: pointer;

  transition: opacity 300ms ease-out;
}

.hide-menu-trigger:hover,
.hide-menu-trigger:focus {
  opacity: 0.5;
}

.page-select {
  margin-top: 5px;
}
